<mat-nav-list>
  <div class="prfile-card">
    <div class="header">
      <h2>Islam Elbadawy</h2>
      <h4>example@gmail.com</h4>
    </div>
    <img src="https://scontent.fcai19-2.fna.fbcdn.net/v/t1.0-0/p206x206/67133775_2081638431963811_3579809740332466176_n.jpg?_nc_cat=107&_nc_sid=7aed08&_nc_ohc=SONthU4i4N8AX8F_WYE&_nc_ht=scontent.fcai19-2.fna&_nc_tp=6&oh=3ff4305546d53473511e083e0f0108a0&oe=5EBE2F2F" alt="islam Elbadawy">
  </div>

  <mat-divider></mat-divider>
  <h2 matSubheader>Pages</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a>


  <mat-divider></mat-divider>

  <h2 matSubheader> Tools </h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>import_contacts</mat-icon>
    Contacts
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>contact_phone</mat-icon>
    Leads
  </a>



</mat-nav-list>

